section.secondary-hero
  section.navigation.fixed
    header
      .header-content
        .logo
          a(href='/')
            img(src='img/brandon-logo.png', alt='Brandon logo')
        .header-nav
          nav
            ul.primary-nav
              li
                a(href='/') Home
              li
                a(href='/about') About Me
              li
                a(href='/portfolio') Portfolio
              li
                a(href='/docs') Api Documents
            ul.visitor-actions
              li
                a.btn-white.btn-small(href='/contact') Contact Me
        .navicon
          a.nav-toggle(href='')
            span
            
section.intro
  .container
    .row
      .col-md-4.intro-feature
        .intro-icon
          span.icon.glyphicon.glyphicon-blackboard
        .intro-content
          h5 Competencies
          p
            | HTML5, CSS3, Bootstrap, Pug, JavaScript, JSON, jQuery, AngularJS, NodeJS, Express, MongoDB, Mocha, Chai, Gulp, ESLint, Git CLI, GitHub
      .col-md-4.intro-feature
        .intro-icon
          span.icon.glyphicon.glyphicon-book
        .intro-content
          h5 Education
          p
            | B.A. Philosophy and Latin <br/>
            | University of Georgia Honors College <br/>
            | GPA 3.96, <em>summa cum laude</em> <br/>
            | Private Pilot License, FAA
      .col-md-4.intro-feature
        .intro-icon
          span.icon.glyphicon.glyphicon-plane
        .intro-content.last
          h5 Hobbies
          p
            | Flying, international travel, hiking, reading, science-fiction, grilling out, recreational sports, and spending time with friends and family
            
section.about
  .container
    .row
      .col-xs-12.col-md-5.col-md-offset-1
        p.
          My name is Brandon Roth. I'm a web developer based in Atlanta, Georgia, where I've lived for nearly 20 years. I received a Bachelor of Arts from the Univeristy of Georgia Honors College. I specialize in NodeJS and the MEAN Stack, although I am proficient in UI/UX design as well as front-end JavaScript. While building my portfolio, I have strived to always use industry best practices. To me, this means using a build process like gulp, testing with Mocha, Chai, Karma, etc., linting with ESLint, version control with git, and using functional programming design for efficiency and maintanability. In my spare time, I enjoy flying around the north Georgia mountains, spending time with friends and family, traveling, and reading.
      .col-xs-12.col-md-5.col-md-offset-1
        img(src='img/about-brandon.jpg' alt='a picture of brandon roth')
        



