section.secondary-hero
  section.navigation.fixed
    header
      .header-content
        .logo
          a(href='/')
            img(src='img/brandon-logo.png', alt='Brandon logo')
        .header-nav
          nav
            ul.primary-nav
              li
                a(href='/') Home
              li
                a(href='/about') About Me
              li
                a(href='/portfolio') Portfolio
              li
                a(href='/docs') Api Documents
            ul.visitor-actions
              li
                a.btn-white.btn-small(href='/contact') Contact Me
        .navicon
          a.nav-toggle(href='')
            span
            
section.intro
  .container
    .row
      .col-md-4.intro-feature
        .intro-icon
          span.icon.glyphicon.glyphicon-blackboard
        .intro-content
          h5 Competencies
          p
            | HTML5, CSS3, Bootstrap, Pug, JavaScript, JSON, jQuery, AngularJS, NodeJS, Express, MongoDB, Mocha, Chai, Gulp, ESLint, Git CLI, GitHub
      .col-md-4.intro-feature
        .intro-icon
          span.icon.glyphicon.glyphicon-book
        .intro-content
          h5 Education
          p
            | B.A. Philosophy and Latin <br/>
            | University of Georgia Honors College <br/>
            | GPA 3.96, <em>summa cum laude</em> <br/>
            | Private Pilot License, FAA
      .col-md-4.intro-feature
        .intro-icon
          span.icon.glyphicon.glyphicon-plane
        .intro-content.last
          h5 Hobbies
          p
            | Flying, international travel, hiking, reading, science-fiction, grilling out, recreational sports, and spending time with friends and family
            
section.about
  .container
    .row
      .col-xs-12.col-md-5.col-md-offset-1
        p.
          My name is Brandon Roth. I'm a web developer based in Atlanta, Georgia, where I've lived for nearly 20 years. I attended the University of Georgia Honors College where I received a Bachelor of Arts degree. I have a strong background in all stages of the development cycle. I am proficient in the MEAN Stack as well as UI/UX design and front-end JavaScript. While developing web projects, I have strived to always incorporate industry best practices. I use a build process like gulp, test with Mocha, Chai, and Karma, lint with ESLint, and use git for version control. I am committed to helping organizations achieve their goals through collaborative work, top-level customer service, and a robust web presence. In my spare time, I enjoy flying around the north Georgia mountains, spending time with friends and family, and reading.
      .col-xs-12.col-md-5.col-md-offset-1
        img(src='img/about-brandon.jpg' alt='a picture of brandon roth')
        



