section.secondary-hero
  section.navigation.fixed
    header
      .header-content
        .logo
          a(href='/')
            img(src='img/brandon-logo.png', alt='Brandon logo')
        .header-nav
          nav
            ul.primary-nav
              li
                a(href='/') Home
              li
                a(href='/about') About Me
              li
                a(href='/portfolio') Portfolio
              li
                a(href='/docs') Api Documents
            ul.visitor-actions
              li
                a.btn-white.btn-small(href='/contact') Contact Me
        .navicon
          a.nav-toggle(href='')
            span

section.contact-info
  .container
    .row
      .col-md-5.col-md-offset-1.col-xs-12
        #map
      .col-md-1.text-right
        i.glyphicon.glyphicon-phone-alt
      .col-md-4.col-xs-11
        h2 Contact Me
        p.
          Brandon Roth <br/>
          Atlanta, GA <br/>
          678-570-1964 <br/>
          <a href="mailto:brandon.roth892@gmail.com">brandon.roth892@gmail.com</a> <br/>
        ul.contact-list
          li
            a.btn-social.btn-outline(href='mailto:brandon.roth892@gmail.com')
              i.fa.fa-envelope
          li
            a.btn-social.btn-outline(href='https://github.com/brandonroth92')
              i.fa.fa-fw.fa-github
          li
            a.btn-social.btn-outline(href='https://www.linkedin.com/in/brandon-roth-159b62130')
              i.fa.fa-fw.fa-linkedin
          

